<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container-mt-4">
            <div class="list-group">
                <ng-container *ngFor="let question of questions ; let i=index">
                    <div class="list-group-item">
                        <h5 class="mb-3">Question number {{i+1}}</h5>
                        <pre class="question">{{question.content}}</pre>
                        <h5 class="mb-3">Answer chosen by the candidate :</h5>
                            <ng-container *ngFor="let answer of question.answers; let j=index">
                                <ul>
                                    <li
                                    class="answer"
                                    [ngClass]="{
                                      'text-success': isAnswerChosen(candidate, answer) && answer.value === true,
                                      'text-danger': isAnswerChosen(candidate, answer) && answer.value === false
                                    }"
                                  >{{answer.content}}</li>
                                </ul>
                            </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
