@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-out {
    animation: fade-out 1s ease-in-out forwards; /* Apply fade-out animation */
  }
  
  .container-mt-4{
    padding-left: 250px;
    background-color:linear-gradient(rgb(221, 221, 250), rgb(183, 179, 227));
    animation: slide-up 1s ease-in-out forwards;
  }
  
  .list-group-item {
    background-color: #ffffff;
    border: 2px solid #e2e2e2;
    margin-bottom: 0; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h5 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1rem;
    color: #333333;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: #ffffff;
  }
  
  body{
    background-color: transparent;
    overflow: hidden;
  }  
  
  .container {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .list-group-item {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    margin-bottom: 0; /* Remove the margin at the bottom */
    padding: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.623);
  }
  
  h5 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 10px;
    line-height: 1.6; /* Adjust line spacing */
  }
  
  .list-group-item h5.mb-3,
  .list-group-item p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .list-group-item{
    border: 3px solid;
    max-width: 80%;
    align-content: center;
    border-radius: 2%;
    margin-bottom: 3%;
  }
  
  
  .question {
    font-family: 'Consolas';
    font-size: 110%;
    border-radius: 1%;
  }
  
  .answer {
    font-family: 'Consolas';
    font-size: 110%;
    padding: 8px 0;
    margin: 0 -20px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid;
    text-align: center;
    max-width: 99%;
  }
  
  .answer:hover {
    background-color: #001eff;
    color: #ffffff;
  }
  

  
  

  .list-group{
    padding: 1%;
  }
  
  pre.question{
    text-align: left;
    padding-left: 10%;
    border: 2px solid;
    margin: 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
    
  
  