<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="container">
  <div class="user-details">
    <h1 class="user-name">{{ this.username }}</h1>

    <table>
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody *ngFor="let entry of this.scoresOfUser">
        <tr>
          <td>{{ entry.quiz.description }}</td>
          <td>{{ entry.score }} / {{ countQuestionsOfQuiz(entry.quiz.id) }}</td>
          <td>{{entry.date}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  
  
</body>
</html>