<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mosofty</title>
</head>
<body>
  <div class="main-container" *ngIf="isAdmin">
    <main>
      <div id="sidebar">
        <h2>M<b style="color: rgb(84, 196, 196);">o</b>softy</h2>
        <hr class="logo-bar">
        <ul>
          <li><a href="/home-page">Home</a></li>
          <hr>
          <li class="expandable">
            <a href="#">Quizzes</a>
            <hr>
            <ul class="sub-menu">
              <li><a href="/list-quizzes">List Quizzes</a></li>
              <hr>
              <li><a href="/add-quiz">Add Quiz</a></li>
              <hr>
            </ul>
          </li>
          <li class="expandable"><a href="#">Candidates</a>
            <hr>
            <ul class="sub-menu">
              <li><a href="/list-users">List Candidates</a></li>

            </ul>
            </li>
        </ul>
        <footer>
          <p>&copy; 2023 Mosofty. All rights reserved.</p>
        </footer>
      </div>
      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  <div *ngIf="!isAdmin">
    <router-outlet></router-outlet>
  </div>
</body>
</html>
