.question-card {
  margin: 10px;
  width: 700px; /* Adjust card width as needed */
  display: flex;
  flex-direction: column;
  border: 1px solid #010058;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(231, 215, 251);
}

.card-content {
  padding: 16px;
  font-size: 16px;
}

.answers-list {
  padding: 16px;
  border-top: 1px solid #eef3fa;
}

h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.edit-icon,
.delete-icon {
  background-color: #625c5c;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 6px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.edit-icon:hover,
.delete-icon:hover {
  background-color: #ccc;
  color: #000;
}
